stof_doctrine_extensions:
    default_locale: en_US
    orm:
        default:
            sluggable: true      # Important pour le slug !
            timestampable: true  # Important pour created_at !